set bell-style visible
set editing-mode emacs
set show-all-if-ambiguous on
set show-all-if-unmodified on

"\e[A":history-search-backward
"\e[B":history-search-forward

$if mode=emacs
  'C-b': backward-word
  'C-f': forward-word
$endif
