[user]
  name = Min Huang
  email = mihuang@linkedin.com
  signingkey = "B3EA18DC"
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  editor = vi
  excludesfile = "~/.gitignore"
[alias]
  br = branch
  ci = commit
  co = checkout
  log = log --stat
  pick = cherry-pick -x
  pull = pull --stat
  st = status
[push]
  default = matching
