[user]
	name = Min Huang
	email = min.huang@alumni.usc.edu
	signingkey = "7E15F641F79D7CBDD73759389857B189CF4E037F"
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vi
	excludesfile = "~/.gitignore"
[alias]
	br = branch
	ci = commit
	co = checkout
	log = log --stat
	pick = cherry-pick -x
	pull = pull --stat
	st = status
[push]
	default = matching
[rerere]
	enabled = true
