# This is my global gitignore file.

# Eclipse
.classpath
.settings
.project

# IDEA
out/
.idea/
*.iml
*.ipr
*.iws

# Netbeans
nbproject/
build.xml
manifest.mf

# Vim
project.vim
.tags
*.swp
*.swo
*~

# Python
*.pyc
